:root{
    --primeira-cor:#00AE9C;
    --segunda-cor-texto:#62C3B3;
    --terceira-cor:#F4FBF4;
  }

.browserHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius:20px 20px 0px 0px;
    width: 900px;
    height: 40px;
    border-top: 6px solid var(--color-primary);
    border-right: 6px solid var(--color-primary);
    border-left: 6px solid var(--color-primary);
}


#nameSiteUser{
    width: 350px;
    height: 24px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border: none;
    background-color: none;
    color: var(--color-primary);
    font-weight: 600;
}

@media (max-width: 980px) {
    .browserHeader{
        background-color: rgb(255, 255, 255);
        border-radius:20px 20px 0px 0px;
        width: 800px;
        height: 40px;
        border-top: 6px solid var(--color-primary);
        border-right: 6px solid var(--color-primary);
        border-left: 6px solid var(--color-primary);
    }
  }