#layout1 {
    gap: 8px;
  }

header{
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items:center;
  width: 900px;
  height: 60px;
  gap: 10px;
  background-color: var(--color-primary);
}

.navbar{
  width: 550px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.box{
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--color-secondary);
}

.logo{
  width: 70px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--color-secondary);
}

.menus{
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items:center;
  width: 800px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  gap: 35px;
}

.option{
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items:center;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-weight: 600;
  color: var(--color-highlight);
  background-color: var(--color-secondary);
}

.slide{
  width: 800px;
  height: 200px;
  border-radius: 5px;
  background-color: var(--color-primary)
}

.products{
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items:center;
  gap: 20px;
}

.product{
  border-radius: 5px;
  width: 130px;
  height: 160px;
  background-color: var(--color-highlight);
}
