#layout2 {
  gap: 10px;
}

.header_layout2{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items:center;
  width: 900px;
  height: 80px;
  background-color: var(--color-primary);
}

.bar_layout2{
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items:center;
  gap: 10px;
  width: 675px;
  height: 30px;
}

.searchbar_layout2{
  border-radius: 8px;
  width: 494px;
  height: 30px;
  background-color: rgb(255, 255, 255);
}

.box_layout2{
  width: 35px;
  height: 30px;
  border-radius: 8px;
  background-color: var(--color-highlight);
}

.navbar_layout2{
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items:center;
  gap: 15px;
  width: 700px;
  height: 30px;
}

.item_layout2{
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items:center;
  border-radius: 8px;
  width: 100px;
  height: 25px;
  font-weight: 600;
  color: var(--color-primary);
  background-color: var(--color-highlight);
}

.banner_layout2{
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items:center;
  border-radius: 8px;
  width: 750px;
  height: 120px;
  background-color: var(--color-secondary);
}

.slide_layout2{
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items:center;
  width: 750px;
  height: 200px;
  border-radius: 15px;
  background-color: var(--color-highlight);
}

.group_product_layout2{
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items:center;
  gap: 15px;
}

.product_layout2{
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items:center;
  border-radius: 8px;
  width: 125px;
  height: 180px;
  border: 2px solid var(--color-primary);
}

.announcement_layout2{
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items:center;
  border-radius: 8px;
  width: 690px;
  height: 44px;
  background-color: var(--color-secondary);
}